@use 'variables.scss';

.cast {
    background-color: variables.$bgPrimaryColor;
    padding: 0 5.6vw;
    
    &__title {
        text-align: center;
        padding-top: 103px;
        padding-bottom: 50px;
    }
    
    &__images {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        @media (max-width: 1023px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        @media (max-width: 400px) {
            grid-template-columns: 1fr 1fr;
        }

        &__actors {
            max-width: 193px;
            width: 100%;

            @media (max-width: 1023px) {
                max-width: auto;
            }
        }
    }
}