@use 'variables.scss';

.curiosities {
    max-width: 100%;
    padding: 0 5.6vw;
    background-color: variables.$bgPrimaryColor;
    display: flex;
    padding-top: 50px;
    align-items: end;
    justify-content: end;

    @media (max-width: 1023px) {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    @media (max-width: 900px) {
        justify-content: center;
        align-items: center;
    }

    &__images {
        width: 100%;
        max-width: 400px;
        margin-right: 16px;

        @media (max-width: 1023px) {
            margin: 0;
        }

        @media (max-width: 900px) {
            padding-bottom: 16px;
        }
    }

    &__description {
        &__title {
            @media (max-width: 1023px) {
                margin-top: 16px;
            }
        }

        &__text {
            margin-top: 30px;
        }
    }

    .button--is-colored {
        background-color: #D2C4A5;
        border: 4px solid #D2C4A5;
        color: #000;

        &:hover {
            background-color: #D2C4A5;
        }
    }
}