@use 'variables.scss';

.footer {
    padding: 16px 5.6vw;
    background-color: variables.$buttonBgColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @media (max-width: 1023px) {
        text-align: center;
    }

    &__copy {
            padding-top: 8px;
    }
    
}