@use 'variables.scss';

.header {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @media (max-width:900px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    &__nav {
        
        
        
        &__list {
            display: flex;
       
            @media (max-width:900px) {
                display: block;
            }
        
        &__item {
            padding-right: 24px;
            text-transform: uppercase;
            list-style: none;
            border: 1px solid transparent; 

            @media (max-width:900px) {
                padding-bottom: 8px;
                transition: 0.4s;
                padding: 8px 0;

                &:hover {
                    border-bottom: 1px solid #fff;
                }
            }

                &__link {
                    text-decoration: none;
                    font-weight: bold;
                    transition: 0.2s;

                    &:hover {
                        color: #bababa;
                    }
                }
            }
        }
    }
}