.header {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {

        &__list {
            display: flex;
            
            &__item {
                padding-right: 24px;
                text-transform: uppercase;

                &__link {
                    text-decoration: none;
                    font-weight: bold;
                    transition: 0.2s;

                    &:hover {
                        color: #bababa;
                    }
                }
            }
        }
    }
}