@use 'variables.scss';

.seasons {
    padding: 0 5.6vw;
    padding-bottom: 200px;
    background-color: variables.$bgPrimaryColor;

    &__title {
        text-align: center;
        padding-bottom: 58px;
        padding-top: 103px;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;

        @media (max-width: 900px) {
            width: auto;
            grid-template-columns: 1fr;
            gap: 15px;
        }

        &__content {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 490px) {
                flex-wrap: wrap;
                padding-bottom: 32px;
            }
            
            &__title {
                padding: 25px 0px;
                @media (max-width: 490px) {
                    text-align: center;
                }
            }

            &__descriptions {
                padding: 0 25px;
            }
        }
    }
}