@use 'variables.scss';

.watch-on {
    padding: 0 5.6vw;
    padding-top: 40px;
    background-color: variables.$bgPrimaryColor;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;

    @media (max-width:1023px) {
        gap: 40px;
    }

    &__image {
        max-width: 400px;
        width: 100%;
        
        @media (max-width:1023px) {
            max-width: 200px;
        }
    }

    &__content {
        width: 100%;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media (max-width: 1023px) {
            width: 300px;
            padding: 0;
        }

        &__title {
            padding-bottom: 47px;
        }

        &__images {
            max-width: 400px;
            padding-top: 16px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        
            @media (max-width: 1023px) {
                max-width: 200px;
                gap: 16px;
                margin: 0;
                justify-content: space-between;
            }
        }
    }
}