@use 'variables.scss';
@use 'header';
@use 'hero';
@use 'curiosities';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

@mixin fontAndColor($color: variables.$textColorDefault, $fontsize: 13px) {
    color: $color;
    font-size: $fontsize;
}

.text--small {
    @include fontAndColor();
}

.text {
    @include fontAndColor($fontsize: 16px);
}

.title--small {
    @include fontAndColor(variables.$titleColorDefault, 32px);
}

.title {
    @include fontAndColor(variables.$titleColorDefault, 48px);
}

.button {
    padding: 12px;
    margin-top: 30px;
    font-size: 16px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    color: variables.$textColorDefault;
    background-color: variables.$buttonBgColor;
    border: none;
    border: 4px solid  variables.$buttonBorderColor;
    cursor: pointer;
    width: 213px;

    &:hover {
        background-color: variables.$buttonBorderColor;
    }
}