@use 'header';
@use 'hero';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

@mixin fontAndColor($color: #fff, $fontsize: 13px) {
    color: $color;
    font-size: $fontsize;
}

.text--small {
    @include fontAndColor();
}

.text {
    @include fontAndColor($fontsize: 16px);
}

.title--small {
    @include fontAndColor(#FBF6D4, 32px);
}

.title {
    @include fontAndColor(#FBF6D4, 48px);
}